@charset "utf-8";

/* General Styling */
.container {
	padding: 80px 120px;
}

/* Brand Logo */
#brandLogo {
  position: relative;
  float: left;
  padding: 0px;
	height: 50px;
}

/* Navigation Bar */

/* Carousel */
.myCarousel {
	margin-top: 80px;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.carousel_iframe {
  width: 100%;
}

/* Footer */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	opacity:0.9;
 }

 .footer div a img {
   height: 30px;
 }