@charset "utf-8";
.maintitle {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
}
.bodytext {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
}

.blue-background {
	background-color: #98dafc;
}

.blue-text {
	color: #98dafc;
}

.white-background {
	background-color: #ffffff;
}

.white-text {
	color: #ffffff;
}
